<%- include('partials/layout'); %>
<main class="container">
  <div class="emp-tableContainer">
    <h5 class="table-heading">All Projects</h5>
    <table class="main_table">
      <thead>
        <tr>
          <th>Project Name</th>
          <th>Client Name</th>
          <th>Start Date</th>
          <th>Deadline</th>
          <th>Technology</th>
          <th>Team Member</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <% projects.forEach(function(project){ %>
        <tr>
          <td><%= project.project_name %></td>
          <td><%= project.client_name %></td>
          <td><%= project.start_date %></td>
          <td><%= project.end_date %></td>
          <td><%= project.technology %></td>
          <td>
            <ul>
              <li class="project-avatar">
                <img src="/user1.jpg" alt="" />
              </li>
              <li class="project-avatar">
                <img src="user2.jpg" alt="" />
              </li>
              <li class="project-avatar">
                <img src="user3.jpg" alt="" />
              </li>
              <li class="project-avatar additional-badge">
                <span>+4</span>
              </li>
            </ul>
          </td>
          <td>
            <div class="action">
              <a href="/EditProject/<%= project.id %>" class="btn btn-tbl-edit"
                ><i class="fa-solid fa-pencil"></i
              ></a>
              <a href="/deleteProject/<%= project.id %>" class="btn btn-tbl-delete"
                ><i class="fa-solid fa-trash"></i
              ></a>
            </div>
          </td>
        </tr>
        <% }); %>
      </tbody>
    </table>
  </div>
</main>

<%- include('partials/layout2'); %>
